@font-face {
    font-family: "EF_MACHO";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MaplestoryOTFBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --mainColor: #fa789a;
  }

  @keyframes bgFadeOut {
    0% {
      background-color: var(--mainColor);
    }

    50% {
      background-color: #123456;
    }
    
    100% {
      background-color: transparent;
    }
  }

  @keyframes slideIn {
    0% {
      margin-left: 10%;
    }
  
    100% {
      margin-left: 0%;
    }
  }

  @keyframes heartBeat {
    0% {
      font-size: 36px;
    }
    25% {
      font-size: 44px;
    }
  
    50% {
      font-size: 36px;
    }
  
    75% {
      font-size: 44px;
    }
  
    100% {
      font-size: 36px;
    }
  }
  
  span {
    font-family: "MaplestoryOTFBold";
    margin-left: 12px;
    font-size: 36px;
  }
  
  .myName {
    text-decoration: underline solid var(--mainColor);
  }
  
  button {
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 20px;
    font-family: "EF_MACHO";
    /* box-shadow: -4px -4px 0 -2px #fa780a, 4px 4px 0 -2px #fa780a; */
    transition: all 0.5s;
  }
  
  button:hover {
    box-shadow: -4px -4px 0 0px #fa780a, 4px 4px 0 0px #fa780a;
  }
  
  /* 클릭할 때 */
  button:active {
    box-shadow: -4px -4px 0 0px #c76108, 4px 4px 0 0px #c76108;
    transition: all 0.1s;
  }
  